@model BookStore.Web.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<div class="container">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Edit Book</h2>

            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="BookId" />
                        <div class="row mb-2">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label asp-for="Code" class="control-label"></label>
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label asp-for="Author" class="control-label"></label>
                                    <input asp-for="Author" class="form-control" />
                                    <span asp-validation-for="Author" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label asp-for="YearOfPublish" class="control-label">Year Of Publish</label>
                                    <input asp-for="YearOfPublish" class="form-control" />
                                    <span asp-validation-for="YearOfPublish" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Rack</label>
                                    <select id="rackDropdown" class="form-control" asp-items="ViewBag.RackList"></select>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label asp-for="ShelfId" class="control-label">Shelf</label>
                                    <select asp-for="ShelfId" class="form-control" id="shelfDropdown">
                                        @foreach (var shelf in ViewBag.ShelfList)
                                        {
                                            <option value="@shelf.Value">@shelf.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="IsAvailable" class="control-label">Status</label>
                                    <select asp-for="IsAvailable" class="form-control">
                                        <option value="true" selected="@Model.IsAvailable">Available</option>
                                        <option value="false" selected="@(!Model.IsAvailable)">Deleted</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center mt-4">
                            <a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Get references to the rack and shelf dropdowns
            var rackDropdown = $('#rackDropdown');
            var shelfDropdown = $('#shelfDropdown');

            // Event handler for rack selection change
            rackDropdown.on('change', function () {
                var selectedRackId = rackDropdown.val();

                // Make an AJAX request to fetch the shelves for the selected rack
                $.ajax({
                    url: '/Books/GetShelves',
                    type: 'GET',
                    data: { rackId: selectedRackId },
                    success: function (response) {
                        var selectedShelfId = shelfDropdown.val();

                        // Clear the current shelf options
                        shelfDropdown.empty();

                        // Add the new shelf options
                        response.forEach(function (shelf) {
                            var option = $('<option></option>').val(shelf.value).text(shelf.text);

                            // Select the option if it matches the existing shelf ID
                            if (shelf.value == selectedShelfId) {
                                option.attr('selected', 'selected');
                            }

                            shelfDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            // Get the selected rack ID from the ViewBag
            var selectedRackId = "@ViewData["SelectedRackId"]";

            // Select the option in the rack dropdown based on the existing rack ID
            if (selectedRackId) {
                $('#rackDropdown').val(selectedRackId);
            }
        });
    </script>
}